/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  color: white;
  background-image: url('/background/mesh-gradients.png');
  background-color: #070707;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

:root {
  --screen-size: 1440;
  --outer-gutter: 80;
  --base-outer-gutter-percentage: calc(
    var(--outer-gutter) / var(--screen-size) * 100vw
  );
}

@layer components {
  .p-side {
    padding-left: var(--base-outer-gutter-percentage);
    padding-right: var(--base-outer-gutter-percentage);
  }
}
