/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-image: url('/background/mesh-gradients.png');
  background-color: #070707;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

:root {
  --screen-size: 1440;
  --outer-gutter: 80;
  --base-outer-gutter-percentage: calc(
    var(--outer-gutter) / var(--screen-size) * 100vw
  );
}

@layer components {
  /* Padding */
  .p-side {
    padding-left: var(--base-outer-gutter-percentage);
    padding-right: var(--base-outer-gutter-percentage);
  }

  .p-side-absolute {
    left: var(--base-outer-gutter-percentage);
    right: var(--base-outer-gutter-percentage);
  }

  /* Layouts */
  .login-grid {
    grid-template-rows: minmax(135px, 1fr) max-content minmax(60px, 1fr);

    /* @media only screen and (max-width: 768px) {
      grid-template-rows: minmax(135px, 1fr) max-content minmax(60px, 1fr);
    } */
  }

  /* Gap layout */
  .gap-layout {
    gap: 240px;

    @media only screen and (max-width: 1680px) {
      gap: 210px;
    }

    @media only screen and (max-width: 1540px) {
      gap: 200px;
    }

    @media only screen and (max-width: 1280px) {
      gap: 180px;
    }

    @media only screen and (max-width: 1024px) {
      gap: 160px;
    }

    @media only screen and (max-width: 768px) {
      gap: 140px;
    }

    @media only screen and (max-width: 640px) {
      gap: 120px;
    }
  }

  .footer-pt {
    padding-top: 240px;

    @media only screen and (max-width: 1680px) {
      padding-top: 210px;
    }

    @media only screen and (max-width: 1540px) {
      padding-top: 200px;
    }

    @media only screen and (max-width: 1280px) {
      padding-top: 180px;
    }

    @media only screen and (max-width: 1024px) {
      padding-top: 160px;
    }

    @media only screen and (max-width: 768px) {
      padding-top: 140px;
    }

    @media only screen and (max-width: 640px) {
      padding-top: 120px;
    }
  }

  /* Headings */
  .heading-2 {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 12px;

    @media only screen and (max-width: 1512px) {
      font-size: 26px;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 24px;
    }

    @media only screen and (max-width: 640px) {
      font-size: 22px;
    }
  }

  .heading-3 {
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;

    @media only screen and (max-width: 1512px) {
      font-size: 22px;
    }

    @media only screen and (max-width: 1024px) {
      font-size: 20px;
    }

    @media only screen and (max-width: 640px) {
      font-size: 18px;
    }
  }

  /* Gradients */
  .card-gradient {
    background: linear-gradient(to top, black, transparent);
    opacity: 0.7;
  }

  /* Hides horizontal scroll bar */
  .no-scrollbar::-webkit-scrollbar {
    height: 0;
  }

  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* Progressive transition color to black */
  .bg-to-dark {
    background: linear-gradient(to bottom, transparent, #070707);
  }
}
